/* forside */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4";
    gap: 20px;
    place-items: center;
    padding: 20px;
}

/*Grid-placering*/
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 {
    /*background-color: white;*/
    grid-area: item4;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    background: rgba(232, 230, 224, 0.74);
    display: inline-block;
    border-radius: 25px;
    width: 350px;
    min-height: 120px;
}

.container > div {
    padding: 10px;
    font-size: 16px;

}

body {
    background-color: lightblue;
    text-align: center;
    background-image: url("https://cdn.dribbble.com/userupload/41863629/file/original-365bc794b2d75e82a2b4f5192b56f6da.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding-top: 60px;
}

/* Overskrift font */
h1 {
    font-family: Papyrus;
}

/* Liste */
ul.myUL {
    display: inline-block;
    text-align: left;
}

footer {
    color: hotpink;
    margin-top: 10px;
}

/* Paragraf med baggrund */
p.pForside {
    background-color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
}

.title{
    text-align: center;
    background-color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
}

.fjernerPrikker {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


