<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show attractions</title>
    <link rel="stylesheet" th:href="@{/attractions.css}">
</head>
<body>
<form th:action="@{/attraction/save}" method="post" th:object="${attraction}">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required><br>

    <label>Description:</label>
    <input type="text" th:field="*{description}" required><br>

    <label>City:</label>
    <select th:field="*{city}" required>
        <option th:each="city : ${cities}"
                th:value="${city}"
                th:text="${city.name()}"></option>
    </select>

    <h3>Vælg tags:</h3>
    <div th:each="tag : ${tags}">
        <input type="checkbox" name="tagIds" th:value="${tag.id}">
        <span th:text="${tag.name()}"></span><br>
    </div>

    <body> <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p> </body>

    <button type="submit">Save</button>
</form>
</body>
</html>