<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show attractions</title>
  <link rel="stylesheet" th:href="@{/attractions.css}">
</head>
<body>
<h1> All attractions</h1>

<div class="tableBackground">
  <table>
    <thead>
    <tr th:if="${attractions.isEmpty()}"> There are no attractions"</tr>
    <tr th:if="${!attractions.isEmpty()}">
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction: ${attractions}">
      <td th:text="${attraction.name}">Attraction Name</td>
      <td th:text="${attraction.description}">Description</td>
      <td>
        <a th:href="@{/attraction/{name}/tags(name=${attraction.name})}"><button>Tags</button></a>
        <a th:href="@{/attraction/{name}/edit(name=${attraction.name})}"> <button>Edit</button></a>
        <form th:action="@{/attraction/{name}/delete(name=${attraction.name})}" method="post" style="display:inline;"
              onsubmit="return confirm('Er du sikker på, at du vil slette denne attraktion?');">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<a href="/index.html"><button>Tilbage til forsiden</button></a>
</body>
</html>