<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find attraction by name</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body >
<h1>Attraction</h1>
<p th:if="${attraction.name != null}" th:text="${attraction.name}">Name </p>
<p th:if="${attraction.name != null}" th:text="${attraction.description}">Description </p>
<br>

<p th:text="${attraction.city}">City</p>
<br>
<div>
    <b>Tags:</b>
    <br>
    <p th:if="${attraction.tag != null and !attraction.tag.isEmpty()}">
        <li th:each="tag : ${attraction.tag}" th:text="${tag}">TAG</li>
    </p>
    <p th:if="${attraction.tag == null}">No tags</p>

</div>
</body>
</html>