<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find attraction by name</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<body>
<h1>Attraction</h1>
<div class="item4" th:if="${attraction != null}">
    <p th:text="${attraction.name}">Name</p>
    <p th:text="${attraction.description}">Description</p>
    <br>

    <p th:text="${attraction.city}">City</p>
    <br>
    <div>
        <b>Tags:</b>
        <br>
        <ul th:if="${attraction.tag != null and !#lists.isEmpty(attraction.tag)}">
            <li th:each="t : ${attraction.tag}" th:text="${t}">TAG</li>
        </ul>
        <p th:if="${attraction.tag == null or #lists.isEmpty(attraction.tag)}">No tag</p>
        <a href="/index.html"><button>Tilbage til forsiden</button></a>
    </div>
</div>
<div th:if="${attraction == null}">
    <p>Attraction not found.</p>
</div>
</body>