<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1 th:text="'Tags for: ' + ${attraction.name}"> Tags for attraktion</h1>
</header>

<h2>Description</h2>
<p th:text="${attraction.description}">Attraction description</p>

<h2>Tags</h2>
<ul>
    <li th:each="tag : ${attraction.tag}" th:text="${tag}">Tag</li>
</ul>

<a href="/index.html"><button>Tilbage til forsiden</button></a>

</body>
</html>